<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Videoclub
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    @for (peli of peliculas; track peli.title) {
      <ion-item button detail>

        <ion-thumbnail slot="start">
          <img [src]="'assets/' + peli.poster" />
        </ion-thumbnail>

        <ion-label>
          <h2>{{ peli.title }}</h2>
          <p>Director: {{ peli.director }}</p>
          <p>Año: {{ peli.year }}</p>
        </ion-label>

      </ion-item>
    } @empty {
      <ion-item>
        <ion-label>
          Cargando películas...
        </ion-label>
      </ion-item>
    }

  </ion-list>
</ion-content>
