<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Videoclub
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="modoLista" (click)="cambiarVista()">
        <ion-icon slot="icon-only" name="apps-sharp"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!modoLista" (click)="cambiarVista()">
        <ion-icon slot="icon-only" name="reorder-four-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listaPeliculas.length; else emptyList">
  <ion-list *ngIf="modoLista; else modoGrid">

    <ion-item *ngFor="let pelicula of listaPeliculas"
              (click)="verPaginaDetalle(pelicula.id)" detail>

      <ion-thumbnail slot="start">
        <ion-img [src]="pelicula.poster"></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h2>{{ pelicula.title }}</h2>
        <p>Director: {{ pelicula.director }}</p>
        <p>Año: {{ pelicula.year }}</p>
      </ion-label>

    </ion-item>
  </ion-list>
  </div>
  <ng-template #modoGrid>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let pelicula of listaPeliculas; index as id"
                 size="6" size-sm="4" size-md="3">

          <ion-card (click)="verPaginaDetalle(id)" button>

            <ion-img [src]="pelicula.poster"></ion-img>

            <ion-card-header>
              <ion-card-title>{{ pelicula.title }}</ion-card-title>
              <ion-card-subtitle>{{ pelicula.director }}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>Год: {{ pelicula.year }}</p>
            </ion-card-content>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template #emptyList>
    <ion-card class="ion-padding ion-text-center">
      La lista está vacía
    </ion-card>
  </ng-template>
</ion-content>
