<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-subtitle>Bienvenido a</ion-card-subtitle>
      <ion-card-title>¡Videoclub!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Videoclub es una aplicación desarrollada con Ionic.</p>
      <p>Para acceder a la gestión del videoclub pulsa el siguiente botón:</p>
    </ion-card-content>
    <ion-button color="dark" fill="clear" [routerLink]="['/videoclub']">
      <ion-icon slot="start" name="videocam">[routerLink]="['/pagina2']"
      </ion-icon>
      Acceso a Videoclub
    </ion-button>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-card-header>
      <ion-card-title>Videoclub!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicación desarrollada por Andrii Shybaiev
    </ion-card-content>
    <ion-button color="dark" fill="clear" [routerLink]="['/autor']">
      <ion-icon slot="start" name="person"></ion-icon>
      Consultar información
    </ion-button>
  </ion-card>

</ion-content>
